* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial Verdana Helvetica;
}
html {
  scroll-behavior: smooth;
}
p {
  color: rgb(85, 85, 85);
}
/*Transition*/

a,
.btn {
  transition: all 300ms ease;
}
